@model PagedList.IPagedList<pip_air.Models.Tiskets>
@using PagedList.Mvc;
@using pip_air.Models

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Билеты</h2>

<p>

    @if (User.IsInRole("Manager"))
    {
            @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })
    }
</p>
<div class="panel-group" id="collapse-group">
@{int count = 0;
    string inf = " in"; }
@foreach (var item in Model)
    {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#collapse-group" href="#el@(++count)">Номер рейса: @Html.DisplayFor(modelItem => item.Num_flight)</a>
            </h4>
        </div>
        <div id="el@(count)" class="panel-collapse collapse@(inf)"> 
            <div class="panel-body">
                Кол-во мест: @Html.DisplayFor(modelItem => item.Sum_place) <br /> 
                Зарезервировано: @Html.DisplayFor(modelItem => item.Sum_rezerved) <br /> 
                Куплено: @Html.DisplayFor(modelItem => item.Sum_bought)  <br /> 
                @if (User.IsInRole("Manager"))
                {
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })
                }
                |
                @if (User.IsInRole("Manager"))
                {
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                }


            </div>
        </div>
    </div>
   inf = " ";

}
</div>

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
