<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Аэропорт</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <script src="@Url.Content("~/Scripts/delete.js")"></script>
    <link href="@Url.Content("~/Content/deleteDialog.css")" rel="stylesheet" type="text/css" />
    <div id="delete">
        <div>
            <p>Удалить?</p>
            <form id="delform" action="" method="post">
                @Html.AntiForgeryToken()
                <input type="submit" value="Да" onclick="del()" class="btn icon-create">
                <input type="button" value="Нет" onclick="hideDel()" class="btn icon-redact">
            </form>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Аэропорт", "Index", "Flights", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Рейсы", "Index", "Flights")</li>
                    <li>@Html.ActionLink("Информация", "Index", "Information")</li>
                    <li>
                    @if (User.IsInRole("Manager"))
                    {
                    @Html.ActionLink("Пассажиры", "Index", "Passengers")
                    }</li>
                    <li>
                    @if (User.IsInRole("Manager"))
                    {
                    @Html.ActionLink("Билеты", "Index", "Tiskets")
                    }</li>
                    <li>
                    @if (User.IsInRole("Admin"))
                    {
                    @Html.ActionLink("Пользователи", "Index", "Users")
                    }</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <div class="container body-content">
        @RenderBody()
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Search.js"></script>  
</body>
</html>
