@model PagedList.IPagedList<pip_air.Models.Information>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CardBlock.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Информация о полете</h2>
<div class="row">

    <p>

        @if (User.IsInRole("Manager"))
        {
            <div class="col-md-8">
                @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })
            </div>
        }
    </p>
    <div class="col-md-4 pull-right books-filter">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="filter-title">@Html.DisplayNameFor(model => model.FirstOrDefault().Num_flight)</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li id="name"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().Num_flight)</a></li>
                    <li id="Departure_place"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().Departure_place)</a></li>
                    <li id="Arrival_place"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().Arrival_place)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="cards-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="info">
                <div class="name"> @Html.DisplayFor(modelItem => item.Num_flight) </div>
                <div class="Departure_place">@Html.DisplayFor(model => item.Departure_place)</div>
                <div class="Arrival_place">@Html.DisplayFor(model => item.Arrival_place)</div>
                <div class="Time_departure">@Html.DisplayFor(model => item.Time_departure)</div>
                <div class="Time_arrival">@Html.DisplayFor(model => item.Time_arrival)</div>

                <div class="actions">
                    @if (User.IsInRole("Manager"))
                    {
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "btn icon-redact" })
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <a class="btn icon-create" onclick="showDelete('../Information/Delete/@item.Id');">Удалить</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
<div class="page">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
   