@model IEnumerable<pip_air.Models.Flight>

@{
    ViewBag.Title = "Index";
}

<h2>Рейсы</h2>
<p>
   
    @if (User.IsInRole("Manager"))
{
    @Html.ActionLink("Добавить", "Create")
    
}
</p>
<table class="table">
    <tr>
        <th>
            Номер рейса
        </th>
        <th>
            Авиолайнер
        </th>
        <th>
            Название аэропорта
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Num_flight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Airliner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_airport)
        </td>

        <td>
    @if (User.IsInRole("Manager"))
        {
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Num_flight }) 
        }
    |
     @if (User.IsInRole("Manager"))
        {
            @Html.ActionLink("Удалить", "Delete", new { id = item.Num_flight })
        }
        </td>
    </tr>
}

</table>
